git rm -r --cached "user service/node_modules"
git rm -r --cached "user service/dist"
git rm --cached "user service/.env"

git rm -r --cached "admin service/node_modules"
git rm -r --cached "admin service/dist"
git rm --cached "admin service/.env"